body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #000;
}

.wrapper {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
}

.wrapper>* {
    grid-column: 2 / -2
}

.headerimage {
    grid-column: 1 / -1;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 85fr 10fr;
    background-image: url(Images/galax.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}

.header>a {
    text-decoration: none;
}

.title {
    margin: 0;
    color: #fff;
    transition: transform 250ms, opacity 400ms;
}

.title:hover {
    transform: scale(1.04);
}

.navigation {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr) 2fr repeat(3, 1fr);
    margin-right: 1%;
}

.planets {
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    transition: transform 250ms, opacity 400ms;
}

.planets:hover {
    transform: scale(1.08);
}

.thesun {
    background-image: url(Images/Solen_png.png);
}

.mercury {
    background-image: url(Images/Mercury_png_rotated.png);
}

.venus {
    background-image: url(Images/Venus_png.png);
}

.earth {
    background-image: url(Images/Jorden_png.png);
}

.mars {
    background-image: url(Images/Mars_png.png);
}

.jupiter {
    background-image: url(Images/Jupiter_png.png);
}

.saturn {
    background-image: url(Images/Saturn_png.png);
}

.uranus {
    background-image: url(Images/Uranus_png.png);
}

.neptune {
    background-image: url(Images/Neptune_png.png);
}

.pluto {
    background-image: url(Images/Pluto_png.png);
}

.footer {
    background-color: #000;
    color: #fff;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(13, 1fr);
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
}

.footer p a {
    text-decoration: none;
    color: #fff;
}

.footerp {
    font-size: 1vw;
}

.aboutus {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.contactus {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.email {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.footersystem {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.footersun {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.footermercury {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.footervenus {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}

.footerearth {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
}

.footermars {
    grid-column: 4 / 5;
    grid-row: 7 / 8;
}

.footerjupiter {
    grid-column: 4 / 5;
    grid-row: 8 / 9;
}

.footersaturn {
    grid-column: 4 / 5;
    grid-row: 9 / 10;
}

.footeruranus {
    grid-column: 4 / 5;
    grid-row: 10 / 11;
}

.footerneptunus {
    grid-column: 4 / 5;
    grid-row: 11 / 12;
}

.footerpluto {
    grid-column: 4 / 5;
    grid-row: 12 / 13;
}

@media (max-width: 1500px) {

    div>a {
        text-decoration: none;
    }

    .navigation {
        grid-template-columns: repeat(10, 1fr);
    }

    .planets {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 250ms, opacity 400ms;
    }

    .planets:hover {
        transform: scale(1.2);

    }

    .thesun:after {
        content: 'Solen';
        color: #fff;
        font-size: 2.3vw;
        font-weight: bold;
    }

    .mercury:after {
        content: 'Merkurius';
        color: #fff;
        font-size: 2.3vw;
        font-weight: bold;
    }

    .venus:after {
        content: 'Venus';
        color: #fff;
        font-size: 2.3vw;
        font-weight: bold;
    }

    .earth:after {
        content: 'Jorden';
        color: #fff;
        font-size: 2.3vw;
        font-weight: bold;
    }

    .mars:after {
        content: 'Mars';
        color: #fff;
        font-size: 2.3vw;
        font-weight: bold;
    }

    .jupiter:after {
        content: 'Jupiter';
        color: #fff;
        font-size: 2.3vw;
        font-weight: bold;
    }

    .saturn:after {
        content: 'Saturnus';
        color: #fff;
        font-size: 2.3vw;
        font-weight: bold;
    }

    .uranus:after {
        content: 'Uranus';
        color: #fff;
        font-size: 2.3vw;
        font-weight: bold;
    }

    .neptune:after {
        content: 'Neptune';
        color: #fff;
        font-size: 2.3vw;
        font-weight: bold;
    }

    .pluto:after {
        content: 'Pluto';
        color: #fff;
        font-size: 2.3vw;
        font-weight: bold;
    }

    .thesun {
        background-image: none;
    }

    .mercury {
        background-image: none;
    }

    .venus {
        background-image: none;
    }

    .earth {
        background-image: none;
    }

    .mars {
        background-image: none;
    }

    .jupiter {
        background-image: none;
    }

    .saturn {
        background-image: none;
    }

    .uranus {
        background-image: none;
    }

    .neptune {
        background-image: none;
    }

    .pluto {
        background-image: none;
    }

}

@media (max-width: 800px) {

    .header {
        font-size: 4.5vw;
    }

    .navigation {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .thesun:after {
        content: 'Solen';
        color: #fff;
        font-size: 4vw;
        font-weight: bold;
    }

    .mercury:after {
        content: 'Merkurius';
        color: #fff;
        font-size: 4vw;
        font-weight: bold;
    }

    .venus:after {
        content: 'Venus';
        color: #fff;
        font-size: 4vw;
        font-weight: bold;
    }

    .earth:after {
        content: 'Jorden';
        color: #fff;
        font-size: 4vw;
        font-weight: bold;
    }

    .mars:after {
        content: 'Mars';
        color: #fff;
        font-size: 4vw;
        font-weight: bold;
    }

    .jupiter:after {
        content: 'Jupiter';
        color: #fff;
        font-size: 4vw;
        font-weight: bold;
    }

    .saturn:after {
        content: 'Saturnus';
        color: #fff;
        font-size: 4vw;
        font-weight: bold;
    }

    .uranus:after {
        content: 'Uranus';
        color: #fff;
        font-size: 4vw;
        font-weight: bold;
    }

    .neptune:after {
        content: 'Neptune';
        color: #fff;
        font-size: 4vw;
        font-weight: bold;
    }

    .pluto:after {
        content: 'Pluto';
        color: #fff;
        font-size: 4vw;
        font-weight: bold;
    }

    .footer, .footerp {
        font-size: 1.8vw;
    }

}