body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #000;
}

.wrapper {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
}

.wrapper > * {
    grid-column: 2 / -2
}

.headerimage {
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: 45vh 45vh 10vh;
    background-image: url(Images/galax.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 5vh;
}

.header > a {
    text-decoration: none;
}

.title {
    margin: 0;
    color: #fff;
}

.navigation {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 2fr repeat(10, 1fr);
}

.planets {
    background-size: cover;
}

a {
    text-decoration: none;
}

.presstext {
    color: rgba(0, 0 , 0, 0);
    font-size: 1.6em;
    display: flex;
    justify-content: center;
}

.oursystem {
    background-image: url(Images/.jpg);
}

.thesun {
    background-image: url(Images/Solen_png.png);
}

.mercury {
    background-image: url(Images/Mercury_png_rotated.png);
}

.venus {
    background-image: url(Images/Venus_png.png);
}

.earth {
    background-image: url(Images/Jorden_png.png);
}

.mars {
    background-image: url(Images/Mars_png.png);
}

.jupiter {
    background-image: url(Images/Jupiter_png.png);
}

.saturn {
    grid-column: span 2;
    background-image: url(Images/Saturn_png.png);
}

.uranus {
    background-image: url(Images/Uranus_png.png);
}

.neptune {
    background-image: url(Images/Neptune_png.png);
}

.pluto {
    background-image: url(Images/Pluto_png.png);
}

.content {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
}

.left {
    grid-column: 1 / 2;
    background-color: #000;
    min-height: 100vh;
}

.right {
    grid-column: -2 / -1;
    background-color: #000;
}

.box {
    min-height: 500px;
    color: #fff;
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 10fr;
}

.textheader {
    grid-column: 1 / -1;
    padding-left: 2%;
    font-size: 2.5em;
}

.text {
    padding-left: 2%;
    padding-right: 40%;
    word-wrap: break-word;
}

.footer {
    background-color: darkcyan;
    grid-column: 1 / -1;
}