body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #000;
}

.wrapper {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
}

.wrapper > * {
    grid-column: 2 / -2
}

.headerimage {
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: 45vh 45vh 10vh;
    background-image: url(Images/galax.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2em;
}

.header > a {
    text-decoration: none;
}

.title {
    margin: 0;
    color: #fff;
}

.navigation {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 2fr repeat(10, 1fr);
}

.navigation > * > a {
    color: #fff;
    text-decoration: none;
}

.planets {
    background-size: cover;
    border-radius: 25px 25px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.oursystem {
    background-image: url(Images/.jpg);
}

.thesun {
    background-image: url(Images/Solen.jpg);
}

.mercury {
    background-image: url(Images/Mercury.jpg);
}

.venus {
    background-image: url(Images/Venus.jpg);
}

.earth {
    background-image: url(Images/Jorden.jpg);
}

.mars {
    background-image: url(Images/Mars.jpg);
}

.jupiter {
    background-image: url(Images/Jupiter.jpg);
}

.saturn {
    grid-column: span 2;
    background-image: url(Images/Saturn.jpg);
}

.uranus {
    background-image: url(Images/Uranus.jpg);
}

.neptune {
    background-image: url(Images/Neptune.jpg);
}

.pluto {
    background-image: url(Images/Pluto.jpg);
}

.content {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
}

.box {
    min-height: 300px;
    background-color: #222;
}

.box > p {
    color: #fff;
}

.footer {
    background-color: darkcyan;
    grid-column: 1 / -1;
}

