body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-image: url(Images/galax.jpg);
    background-position: center;
    background-size: cover;
}

.wrapper {
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: auto 1fr auto;
}

.navigation {
    grid-column: 1 / -1;
    font-size: 1.3vw;
    display: grid;
    grid-template-columns: 2fr repeat(10, 1fr);
}

.links {
    text-align: center;
    transition: transform 250ms, opacity 400ms;
}

.links:hover {
    transform: scale(1.1);
}

.links a {
    color: #fff;
    text-decoration: none;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2;
    min-height: 150vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
}

.box {
    color: #fff;
    background-color: #222;
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-template-rows: auto 1fr;
}

.textheader {
    grid-column: 1 / -1;
    padding-left: 2%;
    margin: 1.5vw 0 1.5vw 0;
    font-size: 3vw;
}

.text {
    padding-left: 3%;
    padding-bottom: 3%;
    margin: 0;
    font-size: 1.7vw;
    word-wrap: break-word;
}

.boxaboutus {
    color: #fff;
    background-color: #222;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.textaboutus {
    grid-template-columns: 1 / -1;
    padding-left: 2.1%;
    padding-right: 3%;
    padding-bottom: 3%;
    margin: 0;
    font-size: 2vw;
    word-wrap: break-word;
}

.image {
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    background-position: top;
}

.imagesun {
    background-image: url(Images/Solen.jpg);
}

.imagemercury {
    background-image: url(Images/Mercury.jpg);
}

.imagevenus {
    background-image: url(Images/Venus.jpg);
}

.imageearth {
    background-image: url(Images/Jorden.jpg);
}

.imagemars {
    background-image: url(Images/Mars.jpg);
}

.imagejupiter {
    background-image: url(Images/Jupiter.jpg);
}

.imagesaturn {
    background-image: url(Images/Saturn_full.jpg);
}

.imageuranus {
    background-image: url(Images/Uranus.jpg);
}

.imageneptune {
    background-image: url(Images/Neptune.jpg);
}

.imagepluto {
    background-image: url(Images/Pluto.jpg);
}

.footer {
    background-color: #000;
    color: #fff;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(13, 1fr);
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
}

.footer p a {
    text-decoration: none;
    color: #fff;
}

.footerp {
    font-size: 1vw;
}

.aboutus {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.contactus {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.email {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.footersystem {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.footersun {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.footermercury {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.footervenus {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}

.footerearth {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
}

.footermars {
    grid-column: 4 / 5;
    grid-row: 7 / 8;
}

.footerjupiter {
    grid-column: 4 / 5;
    grid-row: 8 / 9;
}

.footersaturn {
    grid-column: 4 / 5;
    grid-row: 9 / 10;
}

.footeruranus {
    grid-column: 4 / 5;
    grid-row: 10 / 11;
}

.footerneptunus {
    grid-column: 4 / 5;
    grid-row: 11 / 12;
}

.footerpluto {
    grid-column: 4 / 5;
    grid-row: 12 / 13;
}

@media (max-width: 900px) {

    .wrapper {
        grid-template-columns: auto 1fr auto;
    }

    .navigation {
        grid-template-columns: 1fr repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .linksoursystem {
        grid-column: 1 / 3;
    }

    .oursystem {
        grid-row: 1 / -1;
    }

    .box {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        min-height: 100vh;
    }

    .textheader {
        font-size: 4vw;
    }

    .text {
        font-size: 2.5vw;
    }

    .image {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        margin-right: 1vw;
        margin-left: 1vw;
        margin-bottom: 1vw;
    }

    .imagesun {
        background-image: url(Images/Solen.jpg);
    }

    .imagemercury {
        background-image: url(Images/Mercury.jpg);
    }

    .imagevenus {
        background-image: url(Images/Venus.jpg);
    }

    .imageearth {
        background-image: url(Images/Jorden.jpg);
    }

    .imagemars {
        background-image: url(Images/Mars.jpg);
    }

    .imagejupiter {
        background-image: url(Images/Jupiter.jpg);
    }

    .imagesaturn {
        background-image: url(Images/saturn_full.jpg);
    }

    .imageuranus {
        background-image: url(Images/Uranus.jpg);
    }

    .imageneptune {
        background-image: url(Images/Neptune.jpg);
    }

    .imagepluto {
        background-image: url(Images/Pluto.jpg);
    }

    .textheader {
        padding-left: 3%;
    }

    .text {
        padding-right: 3%;
    }

    .footer {
        font-size: 1.4vw;
    }

    .footerp {
        font-size: 1.3vw;
    }
}

@media (max-width: 650px) {

    .navigation {
        font-size: 2.4vw;
    }

    .textheader {
        font-size: 7vw;
    }

    .text {
        font-size: 4vw;
    }

    .footer {
        font-size: 2.4vw;
    }

    .footerp {
        font-size: 2vw;
    }
}